<script setup>
const props = defineProps({
    Carlos: {
        type: Object,
        default: null,
    }
})


console.log(props.Carlos)

import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
</script>
<template>
    <AuthenticatedLayout>
    <div class="bg-green-200 h-screen">
        <div v-for="item in Carlos" class="flex pb-4 w-full px-32" :key="item.id">
            <div class="w-[25%] pr-2">
                <img :src="item.image" class="object-contain" alt="">
            </div>

            <div class="w-[75%] text-lime-700">
                <span class="font-bold text-2xl border-b-[1px] border-lime-700">{{ item.title }}</span>
                <p>{{ item.description }}</p>
                <span>release date: {{ item.release_date }}</span>
                <br>
                <span>episode count: {{ item.episode_count}}</span>
            </div>
        </div>
    </div>
    </AuthenticatedLayout>
</template>
