<script setup>
const props = defineProps({
    kaarel: {
        type: Object,
        default: null,
    }
})


console.log(props.kaarel)

import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
</script>
<template>
    <AuthenticatedLayout>
        <div class="bg-green-200 h-screen">
        <div v-for="item in kaarel" class="flex pb-4 w-full px-32" :key="item.id">
            <div class="w-[25%] pr-2">
                <img :src="item.image" class="object-contain " alt="">
            </div>

            <div class="w-[75%] text-lime-700">
                <span class="font-bold text-2xl">{{ item.title }}</span>
                <br>
                <span class="font-bold">Playtime: {{ item.playtime }}hrs</span>
                <br>
                <span>{{ item.rating }}/10</span>
                <p>{{ item.description }}</p>
            </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
