
<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
defineProps({
    weather: {
        units: 'metric',
        type: Object,
        default: null,
    }
})
function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  return time;
}
</script>

<template>
 <Head title="Dashboard" />
<AuthenticatedLayout>
  <div class="w-full h-[100vh] bg-gray-800 text-white">
  
<img :src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt=""> <br>
  <div></div>
   location: {{weather.name}} <br>
   temperature: {{ weather.main.temp}}°C <br>
   windspeed: {{ weather.wind.speed}}m/s <br>
   time: {{ timeConverter(weather.dt)}} <br>

  </div>
</AuthenticatedLayout>
</template>
