<script setup> 
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Create from './Create.vue'


defineProps(['monogatari', 'images']);

function getImages(id, image) {
    let imagesById = []
    if (image.model_id == id) {
        imagesById.push('/storage/' + image.id + '/' + image.file_name)
    }
    console.log(imagesById)
    return imagesById
}
</script>

<template>

    <AuthenticatedLayout>
        <Create />
        <div v-for="mono in monogatari" :key="mono.id">
            <span>{{ mono.title }}</span>
            <p>{{ mono.description }}</p>
            <span>episode count: {{ mono.episode_count }}</span> <br>
            <span>Release date: {{ mono.release_date }}</span>
            <br>
            <img v-for="image in images" :key="image.id" :src="getImages(mono.id, image)" alt="">
        </div>

    </AuthenticatedLayout>
</template>
